:root {
  --color-rose-800: #7a284e;
  --color-rose-50: #fff7fb;

  --color-stone-900: #312e2c;
  --color-stone-600: #5f564d;
  --color-stone-150: #e3ddd7;
  --color-stone-100: #f3e5d7;

  --color-brown-800: #854632;

  --color-white: #ffffff;

  --font-family-accent: "Young Serif";
  --font-family-main: "Outfit";
}

@font-face {
  font-family: "Young Serif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color-stone-100);
  font-family: var(--font-family-main), serif;
  color: var(--color-stone-600);
  line-height: 1.5;
}
/* common */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: 400;
  line-height: 1;
}

.section-title {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  color: var(--color-brown-800);
}

.recipe-card {
  background-color: var(--color-white);
}

.recipe-card__title {
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
  color: var(--color-stone-900);
}

/* preparation */

.preparation {
  padding: 24px;
  background-color: var(--color-rose-50);
}

.preparation__title {
  margin-bottom: 16px;
  color: var(--color-rose-800);
  line-height: 1;
  font-weight: 600;
}

.preparation__item {
  position: relative;
  padding-left: 2.5rem;
}

.preparation__item::before {
  background-color: var(--color-rose-800);
}

.preparation__time {
  font-weight: 700;
}

/* ingredients */

.ingredients__item {
  position: relative;
  padding-left: 40px;
}

.ingredients__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.ingredients__item::before {
  background-color: var(--color-brown-800);
}

/* mobile */

@media screen and (max-width: 47.9988rem) {
  .recipe-card__image {
    width: 100%;
  }

  .recipe-card__body {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2.5rem 1.875rem;
  }

  .recipe-card__title {
    font-size: 2.25rem;
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-marker::before {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
}
